:root{
    --color-primary-dark: #517e97;
    --color-primary-med: #659DBD;
    --color-primary-light: #84b1ca;

    --color-secondary-dark: #BC986A;
    --color-secondary-med: #DAAD86;
    --color-secondary-light: #FBEEC1;

    --color-selected: #8D8741;

    --color-inactive-ligth: #707070;
    --color-inactive-dark: #303030;

    // BREAKPOINTS
    --breakpoint-tablet: 768

}
