:root{
    --color-primary-dark: #03045e;
    --color-primary-med: #00b4d8;
    --color-primary-light: #90e0ef;

    --color-secondary-dark: #0b132b;
    --color-secondary-med: #3a506b;
    --color-secondary-light: #ececec;
}
