.item {
    width: 100%;
    padding: 16px 6px;
    box-sizing: border-box;

    cursor: pointer;

    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &Even {
        background-color: var(--color-primary-med);

        &:hover {
            background-color: var(--color-primary-dark);
            color: var(--color-secondary-light);
        }
    }

    &Odd {
        background-color: var(--color-secondary-dark);
        color: var(--color-secondary-light);

        &:hover {
            background-color: var(--color-secondary-med);
        }
    }

    &Selected {
        background-color: red;

        &:hover {
            background-color: red;
        }
    }
}

.userImage {
    border-radius: 50%;
}

.userText {
    padding-left: 12px;
}